#game {
    max-width: 900px;
    min-width: 300px;
    border: 1px solid darkslategrey;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: cadetblue;
}

#field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#field div {
    box-sizing: border-box;
    border: 1px solid darkslategray;
    padding: 15px;
    margin: 5px;
    flex: 30%;
    aspect-ratio: 1/1;
}